<div class="menu-container">
  
    <input type="checkbox" id="openmenu" class="hamburger-checkbox">
    
    <div class="hamburger-icon">
      <label for="openmenu" id="hamburger-label">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      
      </label>    
    </div>
  
      <div class="menu-pane">
         
        <nav>
            <section id="opcion1">
                <div class="mainBtn"> <span> <a href="#opcion1">Inicio</a> </span></div>
            </section>
            
            <span>
                <section id="opcion2">
                   <div class="mainBtn"> <span><a href="#opcion2">Mecenazgo/Patrocinio</a></span> </div> 
                    
                    <ul>
                        <li>
                            <a href="">Sociedades y empresas</a>
                        </li>
                        <li>
                            <a href="">Personas y particulares</a>
                        </li>
    
                    </ul>
                </section>
            
            </span>
           
                <section id="opcion3">
                    <div class="mainBtn"> <span> <a href="#opcion3">Conciertos</a> </span></div>
                </section>    


                <section id="opcion4">
                    <div class="mainBtn"> <span> <a href="#opcion4">Pruebas de acceso</a> </span> </div>
                    <ul>
                        <li>
                            <a href="">Pruebas de acceso 2023</a>
                        </li>
                        <li>
                            <a href="">Formulario de acceso 2024</a>
                        </li>
    
                    </ul>
                </section>

                <section id="opcion5">
                    <div class="mainBtn"> <span> <a href="#opcion5">La orquesta</a> </span> </div>
                    <ul>
                        <li>
                            <a href="">Calendario</a>
                        </li>
                        <li>
                            <a href="">Funcionamiento</a>
                        </li>
                        <li>
                            <a href="">JOsM desde dentro</a>
                        </li>
                        <li>
                            <a href="">Musicos</a>
                        </li>
                        <li>
                            <a href="">Directiva JOsM</a>
                        </li>
                        <li>
                            <a href="">Temporada</a>
                        </li>
    
                        <li>
                            <a href="">Prensa</a>
                        </li>
                    </ul>
                </section>

                <section id="opcion6">
                    <div class="mainBtn"> <span> <a href="#opcion6">Pruebas de acceso</a> </span> </div>
                    <ul>
                        <li>
                            <a href="">Pruebas de acceso 2023</a>
                        </li>
                        <li>
                            <a href="">Formulario de acceso 2024</a>
                        </li>
    
                    </ul>
                </section>    


                <section id="opcion7">
                    <div class="mainBtn"> <span> <a href="#opcion7">Miembros</a> </span> </div>
                </section>


        </nav>
        
      </div>
  