<div class="menu-container">
  
    <input type="checkbox" id="openmenu" class="hamburger-checkbox">
    
    <div class="hamburger-icon">
      <label for="openmenu" id="hamburger-label">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      
      </label>    
    </div>
  
      <div class="menu-pane">
            
        <nav>
            <h2>Menu principal</h2>

          <ul class="menu-links">
            <li><a href="###">Pagina principal</a><span id="DC-info">
                <ul class="sub-list">
                    <li><a href="">Patrocinio</a></li>
                    <li><a href="">Patrocinio</a></li>
                    <li><a href="">Pruebas de acceso</a></li>
                </ul>
              <p>alonso es muy guapo</p>
            </span>
              
            </li>
          </ul>

          <ul class="menu-links">
            <li><a href="###">Pagina principal</a><span id="DC-info">
                <ul class="sub-list">
                    <li><a href="">Patrocinio</a></li>
                    <li><a href="">Miembros</a></li>
                    <li><a href="">Pruebas de acceso</a></li>
                </ul>
              <p>alonso es muy guapo</p>
            </span>
              
            </li>
          </ul>

          <ul class="menu-links">
            <li><a href="###">Pagina principal</a><span id="DC-info">
                <ul class="sub-list">
                    <li><a href="">Patrocinio</a></li>
                    <li><a href="">Miembros</a></li>
                    <li><a href="">Pruebas de acceso</a></li>
                </ul>
              <p>alonso es muy guapo</p>
            </span>
              
            </li>
          </ul>

          <ul class="menu-links">
            <li><a href="###">Pagina principal</a><span id="DC-info">
                <ul class="sub-list">
                    <li><a href="">Patrocinio</a></li>
                    <li><a href="">Miembros</a></li>
                    <li><a href="">Pruebas de acceso</a></li>
                </ul>
              <p>alonso es muy guapo</p>
            </span>
              
            </li>
          </ul>

          
          
          
        </nav>
      </div>
  